* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pos-s {position: sticky;}

.font-cb {color: #729EA1;}
.font-sg {color: #B5BD89;}
.font-tn {color: #DFBE99;}
.font-lc {color: #EC9192;}
.font-bl {color: #DB5375;}

.bgc-cb {background-color: #729EA1;}
.bgc-sg {background-color: #B5BD89;}
.bgc-tn {background-color: #DFBE99;}
.bgc-lc {background-color: #EC9192;}
.bgc-bl {background-color: #DB5375;}

.margin {margin: 24px;}

.padding {padding: 12px;}

.border-6 {border: solid 6px black}
.border-3 {border: solid 3px black}
.border-2 {border: solid 2px black}