/* Root section for editing color scheme of the page */
:root {
    --dark: #50514F;
    --lessdark: #6F726C;
    --med: #CBD4C2;
    --light: white;
}

/* Universal font and background color for the entire page */
* {
    font-family: 'Lexend', sans-serif;
    background-color: var(--light);
}

/* All header-related styles including nav bar */
.h-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.h-cont h1 {
    padding-left: 24px;
    text-transform: uppercase;
    color: var(--dark);
}

 /* Nav bar styles including link hover behavior and link icon styling */
.nav-cont {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

.nav-cont a:hover {
    opacity: 60%;
}

.nav-cont img {
    width: 30px;
    height: 30px;
}

/* About me content styles below */
.abt-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 48px 24px;
}

/* Styling these two h2 elements from the two major sections the same */
.abt-cont h2, .proj-cont h2 {
    margin-right: 24px;
    padding: 24px; 
    border-right: 3px solid var(--med);
    text-transform: uppercase;
    color: var(--dark);
}

.abt-cont p {
    margin-left: 48px;
    color: var(--lessdark);
}

.abt-cont img {
    width: 25%;
    height: auto;
    margin: 12px;
    padding: 6px;
    border: 2px solid var(--lessdark);
}

/* Project list section style below */
.proj-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 48px 0;
}

.proj-cont img {
    display: block;
    height: 150px;
    width: 150px;
    margin: 12px;
    padding: 6px;
    border: 2px solid var(--lessdark);
}


/* Wrapper for images in order to create the title overlays below */
.img-cont {
    position: relative; 
}

/* Project image title overlays - need an overlay container, img hover behavior, and the actual overlay text itself inside its own container*/
.overlay {
    position: absolute;
    top: 4.5%;
    bottom: 0;
    left: 10.5%;
    right: 0;
    height: 151px;
    width: 151px;
    background-color: var(--med);
    display: none;
}

.img-cont:hover .overlay {
    display: block;
    opacity: 1;
}

.overlay-txt {
    color: white;
    background-color: var(--med);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 1s ease;
}

/* Footer style - not much to see here! */
.f-cont {
    text-align: center;
    font-size: 8pt;
}

/* Media responsiveness styling - changing orientation of the page from horizontal to vertical, changing orientation of the border for h2 headings */
@media screen and (max-width: 768px) {
    .media {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-cont {
        margin-bottom: 2%;
        justify-content: space-around;
        width: 50%;
    }

    .abt-cont p {
        margin-right: 15%;
    }

    .abt-cont h2, .proj-cont h2 {
        margin-right: 2%;
        padding: 24px; 
        border-bottom: 2px solid var(--dark);
        border-right: 2px solid var(--light);
    }
}